/*
* @Author: Administrator
* @Date:   2018-07-06 10:09:47
* @Last Modified by:   Administrator
* @Last Modified time: 2018-07-10 10:04:53
*/
.main {
    width: 100%;
}
.hwpone_uccn{
	width: 7.5rem;
	margin: 0 auto;
	background-color: #fff;
}
.hwTopHeadBox{
	width: 100%;
	height: 0.77rem;
	line-height: 0.77rem;

}
.hwTopHeadBox .logo{
	width: 2.03rem;
	height: 0.65rem;
	background: url('../images/logo.png') no-repeat top center;
	background-size: 2.03rem 0.65rem;
	margin-left: 0.14rem;
	margin-top: 0.08rem;
}
.hwTopHeadBox .loginBtn{
	display: block;
	font-size: 0.24rem;
	color: #ee6a02;
	margin-right: 0.16rem;
}
.hwTopHeadBox .loginBtn .loginIcon{
	display: inline-block;
	width: 0.44rem;
	height: 0.53rem;
	background: url('../images/iconAll.png') no-repeat 0 0;
	background-size: 5rem 5rem;
	margin-left: 0.13rem;
	vertical-align: -0.14rem;
}
.hwpone_uccn .banner{
	width: 100%;
	height: 2.97rem;
	overflow: hidden;
}
.hwpone_uccn .banner>div>a>img{
	width: 100%;
	height: 2.97rem;
}
.swiper-pagination-bullet{
	width: 0.17rem;
	height: 0.17rem;
}
.swiper-pagination-bullet-active{
	background: #ee6a02;
}

/* 主体 */
.hwponeContent{
	margin: 0 0.15rem;
	font-size: 0.18rem;
}
.hwponeContent .title{
	height: 0.45rem;
	line-height: 0.45rem;
	margin: 0.24rem 0;
}
.hwponeContent .title .tit_l{
	font-size: 0.28rem;
	font-weight: bold;
}
.hwponeContent .title .icon{
	display: inline-block;
	width: 0.45rem;
	height: 0.42rem;
	background: url('../images/iconAll.png') no-repeat -0.5rem 0;
	background-size: 5rem 5rem;
	vertical-align: top;
	margin-right: 0.06rem;
}
.hwponeContent .title .icon02{
	background-position: -1.10rem 0;
}
.hwponeContent .title .icon03{
	background-position: -1.69rem 0;
	vertical-align: -0.12rem;
}
.hwponeContent .title .moreBtn{
	font-size: 0.22rem;
}
.hwponeContent .recomGnameList{
	width: 100%;
}
.hwponeContent .recomGnameList .itemWrap .item{
	width: 1.19rem;
	height: 1.53rem;
	margin-right: 0.30rem;
	text-align: center;
	font-size: 0.17rem;
	/* margin-top: 0.09rem; */
}
.hwponeContent .recomGnameList .itemWrap .item:last-child{
	margin-right: 0;
}
.hwponeContent .recomGnameList .itemWrap .item>a{
	display: block;
	width: 100%;
	height: 100%;
}
.hwponeContent .recomGnameList .itemWrap .item>a>img{
	height: 1.19rem;
	border-radius: 0.2rem;
}
.hwponeContent .recomGnameList .itemWrap .item .inner_tit{
	display: block;
	width: 100%;
	margin-top: 0.09rem;
}

/* 活动推荐 */
.recomActivityBox .leftImg{
	width: 3.52rem;
	height: 4.98rem;
}
.recomActivityBox .leftImg>a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0;
}
.recomActivityBox .rightImg{
	width: 3.51rem;
}
.recomActivityBox .rightImg .itemImg{
	width: 100%;
	height: 1.58rem;
	margin-bottom: 0.11rem;
}
.recomActivityBox .rightImg .itemImg:last-child{
	margin-bottom: 0;
}
.recomActivityBox .rightImg .itemImg>a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0;
}
.newForecast{
	border: 0.02rem solid #bfbfbf;
}
.newForecast table{
	width: 100%;
	font-size: 0.16rem;
}
.newForecast table>thead{
	border-bottom: 1px solid #f1f1f1;
}
.newForecast table>thead>tr>th{
	text-align: center;
	height: 0.67rem;
	line-height: 0.67rem;

}
.newForecast table>tbody>tr{
	border-bottom: 1px solid #f1f1f1;
}
.newForecast table>tbody>tr>td{
	text-align: center;
	height: 0.67rem;
	line-height: 0.67rem;
}
.newForecast table>tbody>tr>td>span.tit{
	display: block;
	width: 90%;
	margin-left: 0.08rem;
}
.newForecast table>tbody>tr>td.gift{
	position: relative;
}
.newForecast table>tbody>tr>td.gift>a{
	position: absolute;
	top: 0.11rem;
	left: 0.11rem;
	display: block;
	width: 0.44rem;
	height: 0.44rem;
	background: url('../images/iconAll.png') no-repeat -2.27rem 0;
	background-size: 5rem 5rem;
}
.contactUsBox{
	padding: 0.48rem 0.87rem 1.22rem 0.48rem;
}
.contactUs{
	width: 2.30rem;
}
.contactUsBox .contact_title{
	font-size: 0.4rem;
	font-weight: 500;
	margin-bottom: 0.18rem;
}
.contactUsBox .contact_title::before{
	content: '';
	display: inline-block;
	width: 0.44rem;
	height: 0.44rem;
	background: url('../images/iconAll.png') no-repeat -2.86rem 0;
	background-size: 5rem 5rem;
	vertical-align: middle;
}
.contactUsBox .contact_title2::before{
	content: '';
	display: inline-block;
	width: 0.44rem;
	height: 0.44rem;
	background: url('../images/iconAll.png') no-repeat -0.04rem -0.75rem;
	background-size: 5rem 5rem;
	vertical-align: middle;
}
.contactUsBox .contact_title2{
	font-size: 0.4rem;
	font-weight: 500;
	margin-bottom: 0.18rem;
}
.contactUsBox .custpone{
	display: block;
	font-size: 0.26rem;
	color: #fff;
	width: 1.66rem;
	height: 0.40rem;
	line-height: 0.4rem;
	background-color: #f6891a;
	text-align: center;
	border-radius: 0.2rem;
	margin-left: 0.53rem;
	margin-bottom: 0.14rem;
}
.footerNav{
	position: fixed;
	width: 7.5rem;
	height: 0.83rem;
	bottom: 0;
	font-size: 0.2rem;
	background-color: #e1e1e1;
	padding-top: 0.13rem
}
.footerNav .footerNavBox .elem{
	width: 1rem;
	text-align: center;
	margin: 0 0.25rem;
}
.footerNav .footerNavBox .elem>a>i.navIcon{
	display: block;
	width: 0.78rem;
	height: 0.5rem;
	background: url('../images/iconAll.png') no-repeat 0.15rem -1.29rem;
	background-size: 5rem 5rem;
	margin-left: 0.1rem;
}
.footerNav .footerNavBox .elem>a>i.navIcon.navIcon02{
	background-position: -0.61rem -1.29rem;
}
.footerNav .footerNavBox .elem>a>i.navIcon.navIcon03{
	background-position: -1.4rem -1.29rem;
}
.footerNav .footerNavBox .elem>a>i.navIcon.navIcon04{
	background-position: -2.1rem -1.29rem;
}
.footerNav .footerNavBox .elem>a>i.navIcon.navIcon05{
	background-position: -2.8rem -1.29rem;
}
.footerNav .footerNavBox .active>a>i.navIcon{
	background-position: 0.15rem -2.05rem;
}
.footerNav .footerNavBox .active>a>i.navIcon.navIcon02{
	background-position: -0.61rem -2.05rem;
}
.footerNav .footerNavBox .active>a>i.navIcon.navIcon03{
	background-position: -1.4rem  -2.05rem;
}.footerNav .footerNavBox .active>a>i.navIcon.navIcon04{
	background-position: -2.1rem -2.05rem;
}.footerNav .footerNavBox .active>a>i.navIcon.navIcon05{
	background-position: -2.8rem -2.05rem;
}

/* 游戏 */
.gameListhead{
	width: 7.2rem;
	height: 0.75rem;
	padding: 0 0.15rem;
	border-bottom: 1px solid #bebebe;
	padding-bottom: 0.08rem;
} 
.gameListhead .backArrow{
	width: 0.38rem;
	height: 0.55rem;
	background: url('../images/backarrow.png') no-repeat top center;
	background-size:0.38rem 0.55rem;
	margin-top: 0.13rem;
	margin-left: 0.08rem; 
}
.gameListhead .innerlogo{
	width: 2.03rem;
    height: 0.65rem;
    background: url(../images/logo.png) no-repeat top center;
    background-size: 2.03rem 0.65rem;
    margin-left: 0.14rem;
    margin-top: 0.08rem;
}
.gameListhead .innerIcon{
	display: block;
    width: 0.78rem;
    height: 0.5rem;
    background: url(../images/iconAll.png) no-repeat -2.8rem -1.29rem;
    background-size: 5rem 5rem;
    margin-left: 0.1rem;
    margin-top: 0.17rem;
}
.gameListhead .innerTitle{
	font-size: 0.36rem;
	font-weight: bold;
	margin-left: 0.34rem;
	line-height: 0.75rem;
}
.gameListTitle{
	height: 0.69rem;
	width: 7.2rem;
	line-height: 0.69rem;
	padding: 0 0.15rem;
	font-size: 0.28rem;
	font-weight: bold;
	/* border-top: 1px solid #bebebe */;
	
}
.gameListTitle::before{
	content: "";
	display: inline-block;
	width: 0.02rem;
	height: 0.28rem;
	background: #fc7600;
	margin-right: 0.14rem;
	vertical-align: -0.04rem;
}
.loginGameBtnWrap{
	border-top: 1px solid #bebebe;
	width: 7.5rem;
}
.loginGameBtn{
	width: 4.79rem;
	height: 0.71rem;
	background: #fc7600;
	line-height: 0.71rem;
	text-align: center;
	color: #fff;
	font-size: 0.36rem;
	border-radius: 0.1rem;
	margin: 0.36rem auto 0.48rem auto;
	/* margin: 0.36rem auto 0.53rem auto; */
}
.non-border{
	border: none;
}
.allGameListbox{
	margin: 0 0.15rem;
	font-size: 0.22rem;
	padding-bottom: 1.6rem;
}
.allGameListbox .gameList{
	height: 1.4rem;
	border-bottom: 1px solid #f1f1f1;
	padding-top: 0.14rem;
}
.allGameListbox .gameList .left .img{
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 0.2rem;
	overflow: hidden;
}
.allGameListbox .gameList .left .headline{
	margin-left: 0.27rem;
	margin-top: 0.1rem;
}
.allGameListbox .gameList .left .headline .subtitle>span.t{
	display: inline-block;
	/* width: 3rem; */
	font-size: 0.26rem;
	font-weight: bold;
	margin-bottom: 0.28rem;
}
.allGameListbox .gameList .left .headline .time{
	font-size: 0.22rem;
	color: #525252;
	margin-bottom: 0.15rem;
}
.allGameListbox .gameList .left .headline .giftMa{
	font-size: 0.22rem;
	color: #525252;
}
.allGameListbox .gameList .left .headline .giftMa>span.col{
	color: #fc7600;
}
.allGameListbox .gameList .left .headline .subtitle>span.gift_t{
	display: inline-block;
	/* width: 3rem; */
	font-size: 0.26rem;
	font-weight: bold;
	margin-bottom: 0.15rem;
}
.allGameListbox .gameList .left .headline .subtitle>span.g{
	display: inline-block;
	width: 0.59rem;
	height: 0.25rem;
	color: #f9ac1e;
	font-size: 0.20rem;
	font-weight: normal;
	border: 0.03rem solid #f9ac1e;
	text-align: center;
	line-height: 0.25rem;
	vertical-align: top;
	margin-left: 0.13rem;
}
.allGameListbox .gameList .left .headline .des{
	width: 4rem;
}
.allGameListbox .gameList .right{
	padding: 0.14rem 0.12rem;
	background: #fc7600;
	color: #fff;
	border-radius: 0.1rem;
	margin-top: 0.4rem;
}
.allGameListbox .gameList .price{
	font-size: 0.34rem;
	font-weight: 600;
	margin-top: 0.4rem;
}
.Alltips{
	text-align: center;
	color: #525252;
	font-size: 0.22rem;
	margin-top: 0.4rem;
}
/* 我玩过的游戏登录状态 */
.gamePlayedwrap{
	padding-bottom: 0.09rem;
	height: 2.02rem;
	border-bottom: 1px solid #bebebe;
	margin: 0.2rem 0.15rem 0 0.15rem;
}
.gamePlayedwrap .gamePlay{
	
}
.gamePlayedwrap .gamePlay .itemList{
	display: block;
/* 	width: 1.2rem; */
	height: 1.6rem;
}
.gamePlayedwrap .gamePlay .itemList>img{
	display: block;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 0.1rem;
	margin: 0 auto;
	margin-bottom: 0.1rem;
}
.gamePlayedwrap .gamePlay .itemList>span{
	font-size: 0.24rem;
	display: block;
	width: 100%;
	text-align: center;
}
.gamePlayBtn{
	top: 1.1rem;
}

/* 登录 */

.form_group {
    position: relative;
    width: 80%;
    margin: .56rem auto 0 auto;
    font-size: 12px;
}
.form_group:nth-child(2){
	margin-top: 0.35rem;
}
.form_group input {
    display: block;
    width: 5.8rem;
    height: 0.75rem;
    line-height: .75rem;
    border: 0.03rem solid #f6891a;
    padding-left: 0.7rem;
    border-radius: 0.2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-size: 0.24rem;
}
.icon_t{
    position: absolute;
    top: .1rem;
    left: .06rem;
    font-size: 15px;
    color: #b8b8b8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid transparent;
}
.icon_t .userIcon{
	display: block;
	width: 0.44rem;
	height: 0.44rem;
	background: url('../images/iconAll.png') no-repeat -3rem -1.29rem;
	background-size: 5rem 5rem;
	margin-left: 0.2rem;
}
.icon_t .userIcon2{
	background-position: -3.5rem 0.05rem;
}
.valid_info {
	font-size: 0.24rem;
    color: #a49d9c;
    margin-top: 0.2rem;
    margin-left: 0.02rem;
}
.form_group input.sub_btn{
	 -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    background: #f6891a;
    color: #fff;
	font-size: 0.4rem;
    border: 0;
    outline: 0;
    padding-left: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.to_log {
    width: 80%;
    margin: 6px auto;
    text-align: center;
    margin-top: 0.2rem;
}
.to_log>a{
	font-size: 0.24rem;
	color: #9e9d9d;
	margin-right: 0.1rem;
}
/* 礼包 */
.giftCenterHead{
    width: 100%;
    height: 0.87rem;
    background: url('../images/topbg.png') no-repeat top center;
    background-size: 7.5rem 0.87rem;
    margin-bottom: 0.1rem;
}
.giftCenterHead .backArrow{
    width: 0.38rem;
    height: 0.55rem;
    background: url(../images/backarrow.png) no-repeat top center;
    background-size: 0.38rem 0.55rem;
    margin-top: 0.13rem;
    margin-left: 0.08rem;
}
/* 充值 */
.rechargeWrap{
	margin: 0 0.45rem;
}
.rechargeTit{
	color: #ee6a02;
	font-size: 0.36rem;
	height: 0.4rem;
	margin-top: 0.37rem;
	margin-bottom: 0.3rem;



}
.rechargeTit{
	line-height: 0.36rem;
}
.rechargeTit::before{
	content: "";
	display: inline-block;
	height: 0.36rem;
	width: 0.07rem;
	background: #ee6a02;
	vertical-align: -0.06rem;
	margin-right: 0.14rem;
}
.chargeLine{
	font-size: 0.34rem;
	margin-bottom: 0.4rem;
	position: relative;
	height: 0.82rem;
	width: 100%;
	line-height: 0.82rem;
}
.chargeLine .changeNum::after{
	display: inline-block;
	content: '';
	width: 0.36rem;
	height: 0.42rem;
	background: url('../images/iconAll.png') no-repeat 0 -3.64rem;
	background-size: 5rem 5rem;
	vertical-align: -0.1rem;
	margin-left: 0.15rem;
}
.chargeLine .selectBox{
	width: 5.4rem;
	height: 0.82rem;
	line-height: 0.82rem;
	border: 1px solid #bfbfbf;
	border-radius: 0.1rem;
	padding-left: 0.1rem;
	font-size: 0.28rem;
	color: #999;
}
.chargeLine .solt{
	display: inline-block;
	width: 0.53rem;
	height: 0.36rem;
	background: url('../images/iconAll.png') no-repeat 0 -2.85rem;
	background-size: 5rem 5rem;
	box-sizing: border-box;
	position: absolute;
	top: 0.24rem;
	right: 0.2rem;
}
.paytitle{

	height: 0.98rem;
	background: #f2f2f2;
	line-height: 0.98rem;
	font-size: 0.36rem;
	color: #ee6a02;
	padding-left: 0.45rem;
	
}
.paymentwrap{
	margin-top: 0.48rem;
	margin-left: 0.45rem;
	margin-bottom: 0.54rem;
}
.paymentwrap a.fl{
	display: block;
	margin-right: 0.24rem;
	background: #f2f2f2;
	border-radius: 0.1rem;
	height: 0.71rem;
}
.paymentwrap a.fl>img{
	display: block;
}
.paymentwrap .fl.active{
	box-shadow: 0 0 10px #f00;
}
.paymentwrap .alipay{
	width: 1.82rem;
}
.paymentwrap .weChat{
	width: 2.01rem;
}
.paymentwrap .bankpay{
	width: 2.29rem;
}

.paymentwrap a.fl:last-child{
	margin-right: 0;
}
.rechargePay{
	font-size: ;
	color: #ee6a02;
	font-size: 0.36rem;
	margin-bottom: 0.54rem;
}
.rechargePay .lit{
	font-size: 0.24rem;
}
.changemoney{
	margin-bottom: 0.3rem;
}
.changemoney .mon{
	width: 1.47rem;
	height: 0.86rem;
	line-height: 0.86rem;
	text-align: center;
	font-size: 0.26rem;
	border: 1px solid #ee6a02;
	color: #ee6a02;
	box-sizing: border-box;
	margin-right: 0.24rem;
	margin-bottom: 0.24rem;
}
.changemoney .mon:nth-child(4n){
	margin-right: 0;
}
.changemoney .active{
	background: #ee6a02;
	color: #fff;
}
.litTips{
	font-size: 0.28rem;
	margin-bottom: 0.27rem;
}
.litTips .col{
	color: #ee6a02;	
}
.submitBtn{
	width: 4.64rem;
	height: 0.91rem;
	background: #ee6a02;
	color: #fff;
	text-align: center;
	line-height: 0.91rem;
	border-radius: 0.1rem;
	font-size: 0.38rem;
	margin: 1rem auto 3rem;

}
/* 我的资料 */
.myInformationWrap{
	background: #f6f6f6;
}
.myInformationWrap .myIcon{
	width: 2.35rem;
	height: 2.35rem;
	margin: 0 auto;
	padding-top: 0.28rem;
}
.myInformationWrap .myIcon>img{
	border-radius: 100%;
}
.myInformationWrap .myEditHead{
	font-size: 0.24rem;
	text-align: center;
	padding: 0.2rem 0 0.5rem 0;
}
.editNameWrap{

}
.editNameWrap .userName{
	height: 0.68rem;
	line-height: 0.68rem;
	font-size: 0.24rem;
	padding-left: 1.71rem;
	margin: 0 auto;
	border-bottom: 1px solid #bebebe;
	margin-top: 0.35rem;
}
.editNameWrap .userName>span,.editNameWrap .userName>input{
	margin-left: 0.58rem;
	display: inline-block;
	outline: none;
	border: none;
	font-size: 0.24rem;
}


/* 用户 */
.userLine{
	position: relative;
	font-size: 0.32rem;
	padding: 0.3rem 0.33rem;
	border-bottom: 1px solid #bebebe;
}
.userLine .left .userIc{
	display: inline-block;
	width: 0.49rem;
	height: 0.49rem;
	background: url('../images/iconAll.png') no-repeat;
	background-size: 5rem 5rem;
	vertical-align: middle;
	margin-right: 0.24rem;
}
.userLine .rightArrow{
	width: 0.21rem;
	height: 0.29rem;
	background: url('../images/iconAll.png') no-repeat -0.69rem -3.7rem;
	background-size: 5rem 5rem;
	margin-top: 0.1rem;
}
.userLine .right{
	position: absolute;
	top: 0.23rem;
	right: 0.33rem;
}
.userLine .right .info{
	font-size: 0.24rem;
	text-align: right;
	color: #8c8c8c;
	margin-bottom: 0.13rem;
}
.userLine .right .info:last-child{
	margin-bottom: 0;
}
.userLine .left .userIc.bgz01{
	background-position: -0.95rem -2.84rem;
}
.userLine .left .userIc.bgz02{
	background-position: -1.7rem -2.84rem;
}
.userLine .left .userIc.bgz03{
	background-position: -2.44rem -2.84rem;
}
.userLine .left .userIc.bgz04{
	background-position: -3.24rem -2.84rem;
}
.userLine .left .userIc.bgz05{
	background-position: -4.06rem -2.84rem;
}
/* 活动推荐 */
.activityLine{
	display: block;
	font-size: 0.24rem;
	height: 1.05rem;
	line-height: 1.05rem;
	border-bottom: 1px solid #bebebe;
	padding: 0 0.3rem;
}

/* 领取礼包 */
.getGiftGameName{
	margin: 0.5rem 0.15rem;
	font-size: 0.22rem;
		
}
.getGiftGameName .leftimg{
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 0.25rem;
	overflow: hidden;
}
.getGiftGameName .rightWord{
	margin-left: 0.33rem;
	margin-top: 0.1rem;
}
.getGiftGameName .rightWord h4{
	font-size: 0.24rem;
	margin-bottom: 0.16rem;
}
.getGiftGameName .rightWord>p{
	margin-bottom: 0.16rem;
	color: #706f6f;
}
.getGiftGameName .rightWord>p:last-child{
	margin-bottom: 0;

}
.bg_submitBtn{
	width: 80%;
	height: 0.7rem;
	background: #fc7600;
	color: #fff;
	font-size: 0.3rem;
	text-align: center;
	line-height: 0.7rem;
	border-radius: 0.2rem;
	margin: 0 auto;
	font-weight: 600;
	margin-bottom: 0.55rem;
}
.getGiftBox{
	margin: 0 0.33rem;
	font-size: 0.22rem;
	border-bottom: 1px solid #f1f1f1;
	padding-bottom: 0.2rem;
	padding-top: 0.25rem;
}
.getGiftBox .giftBoxLeft .giftname{
	font-size: 0.26rem;
	font-weight: bold;
	margin-bottom: 0.17rem;
}
.getGiftBox .giftBoxLeft .giftInner{
	color: #a1a1a1;
	width: 5.3rem;
}
.getGiftBox .giftBoxRight{
	padding: 0.14rem 0.16rem;
    background: #fc7600;
    color: #fff;
    border-radius: 0.1rem;
    margin-top: 0.1rem;
}
